textarea {
  font-size: 15px;

}

.field-log {
	height: 800;
	/*max-height: 400px;*/
	display: inline-block;
	overflow:hidden;
}

/*
h4.configure-title {
	text-align: center;
}
*/

table.processing-parameters {
	border: 2px solid black;
	text-align: center;
	table-layout: fixed;

}

th.processing-parameters {
	border: 1px solid gray;
}

td {
	border: 1px solid gray;
	width: 56px;
	height: 15px;
	overflow: hidden;
}

td.processing-data {
	width: 56px;
	height: 60px;
	overflow: hidden;
}


.filtering-elements {
	border-radius: 25px;
    border: 2px solid #73AD21;
    height: auto;
    /*padding: 20px; */
}


