html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    background-color: #3A3A3A;
}

textarea {
  font-size: 15px;

}

p {
	color: white;

}

strong {
	color: white;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h3.text-muted {
	color: white;
	text-align: center;

}

h4 {
	color: white;
	text-align: center;
}

.list-group-item {
	background: white;
	border: 2px solid gray;
}

.list-group-item-text {
	color: #3A3A3A;

}

.list-group-item-heading {
	text-align: left;
}



.field-log {
	height: 800;
	/*max-height: 400px;*/
	display: inline-block;
	float: right;

	overflow:hidden;
}

.available-filament {
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
	font-weight: bold;
	font-size: 16px;
	border-radius: 16px;
	border-color: gray;
	width: 170px;
	height: 70px;
}

.full-button {
	width: 80%;
	color: black;
}

.centered-buttons {
	float: right;
	position: relative;
	left: -12%; /* or right 50% */
	/*text-align: left;*/
}

span.pull-down-heading {
	/*font-weight: bold; */
}

select {
	float: right;
    text-align:right;
    width: 160px;
    direction: rtl;
    background: gray;
    color: white;

}

option {
	float: right;
    text-align:right;
    width: 160px;
    direction: rtl;
    color: white;
}


/*
h4.configure-title {
	text-align: center;
}
*/

table.processing-parameters {
	border: 2px solid white;
	text-align: center;
	table-layout: fixed;

}

th.processing-parameters {
	border: 1px solid white;
}

td {
	border: 1px solid white;
	width: 56px;
	height: 15px;
	overflow: hidden;
	color: white;
}

td.processing-data {
	width: 56px;
	height: 50px;
	overflow: hidden;
	color: white;
}


.filtering-elements {
	border-radius: 25px;
    border: 2px solid #73AD21;
    height: auto;
    /*padding: 20px; */
}


/* ------CSS FOR THE THREEJS CANVAS------- */
/*#threeJSCanvas { */
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #3A3A3A;
}

/* ------CSS FOR THE COLOR PICKER------- */
.angular-color-picker {
	background: #3A3A3A;
	/*border: 1px solid #ddd;*/
	padding-left: 40px;
	/*padding-left: 30px;*/
	text-align: center;
	border: none;
}

.color-picker {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    /*display: block*/;
}

/* ------CSS FOR THE SLIDERS------- */
/* REBUILD https://github.com/angular-slider/angularjs-slider LESS FILE */

footer {
	text-align: center;
}


table.table-centered {
	border: 0;
	text-align: left;
	table-layout: fixed;
	width: 100px;
}

table.table-centered td {
	border: 0px solid black;
}

table.table-centered th {
	border: 0px solid black;
}